$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$jensen-red: #D41F22;
$jensen-red-footer-border: $jensen-red - 1;
$dark-grey: #292020;
$light-grey: #F5F5F6;

html, body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

nav {
  display: none;
  a {
    text-decoration: none;
    color: $dark-grey;
    font-size: 1.5rem;
  }
}

.alt {
  background-color: $light-grey;
  color: $dark-grey + 30;
  padding-top: 12rem;
  padding-bottom: 12rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border: 1px dotted #bbb;
  border-radius: 2px;
  font-size: 3.7rem;
  position:relative;

  em {
    font-style: normal;
    font-weight: bold;
  }
}



.card {
  text-align: center;
  margin: 0px;

  .subtext {
    font-size: 1.5rem;
  }
}

.card.right {
  display: block;
}

.card.right768 {
  display: none;
}

.fancy-lead {
  color: $dark-grey + 30;
  font-size: 3.7rem;

  em {
    font-style: normal;
    font-weight: bold;
  }
}

.video-frame {
  border: 5px solid #fff;
  box-shadow: 0px 0px 10px #ddd;
}

.video-card {
  position: relative;
  padding-left: 0rem;
  padding-right: 0rem;

  .jensen-video {
    border: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 34rem;
  }
}

.jones-logo {
  opacity: 0.7;
}


header {
  padding: 10rem;

  nav {
    margin-top: 2rem;
    text-align: right;

    ul {
      list-style: none;

      li {
        display: inline-block;
        margin-left: 2rem;
      }
    }
  }
}

#identity {
  .card {
    height: auto;
  }

  .card.lead {
    font-size: 2.5rem;
    font-weight: 500;

    em {
      background-color: $jensen-red;
      padding: 0.5rem;
      color: #fff;
      font-weight: 500;
    }
  }

  .identity-card {
    border: 1px solid $light-grey;
    padding: 3rem;
    text-align: center;
    height: 18rem;
    line-height: 11rem;

    img {
      opacity: 0.9;
      display: inline-block;
      vertical-align: middle;
    }

    img.shrink {
      width: 15rem;
    }

    img.lower-alpha {
      opacity: 0.7;
    }
  }
}

#branding {
  .head {
    background-color: $jensen-red;
    color: #fff;
    text-align: center;
    padding: 10rem;

    h2 {
      margin: 0rem;
    }

    em {
      // text-decoration: underline;
      font-weight: 300;
      font-style: normal;
    }
  }

  .card {
    padding: 4rem;
    min-height: 50rem;

    .logo {
      margin-top: 7rem;
    }
  }

  .card.alt {
    padding-top: 20rem;
    padding-bottom: 20rem;
  }

  .more-info {
    padding: 4rem;
    border: 1px solid #E0E0E0 + 20;
    text-align: center;
  }
}

#about {
  color: #333;

  .head {
    background-color: $jensen-red;
    color: #fff;
    text-align: center;
    padding: 2rem;

    h1 {
      margin: 0rem;
    }

    em {
      // text-decoration: underline;
      font-weight: 300;
      font-style: normal;
    }
  }

  h1 {
    text-align: center;
    font-weight: 400;
  }

  .card {
    padding: 8rem;
    border-radius: 2px;

    .profile {
      display: inline-block;
      margin-bottom: 2rem;
      border: 5px solid #ededed;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 6rem;
    }

    p {
      text-align: left;
      line-height: 2.5rem;
      font-size: 1.6rem;
    }
  }

  .back {
    margin-bottom: 6rem;
  }
}

#team {

  margin-bottom: 6rem;

  .card {
    min-height: 42rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: $light-grey;

    p {
      color: $dark-grey + 30;
      font-size: 3.7rem;

      em {
        font-style: normal;
        font-weight: bold;
      }
    }

    p.subtext {
      font-size: 1.5rem;
      margin-bottom: 3rem;
    }

    .profile {
      width: 10rem;
      display: inline-block;
      margin: 2rem;
      box-shadow: 0px 0px 10px #ddd;
    }
  }

  .card.alt {
    background-color: $jensen-red;
    border: none;
    border-radius: 0px;

    p {
      font-size: 2rem;
      font-weight: 300;
      color: #fff;
      padding: 0px;
      padding-top: 4rem;
    }
  }

  .lead-row {
    // border: 1px solid #E0E0E0 + 20;
  }

  .associates {
    margin-top: 4rem;
    text-align: center;

    img {
      max-width: 12rem;
      display: inline-block;
      margin: 2rem;
    }

    img.grow {
      max-width: 16rem;
    }

    .ian-callout {
      max-width: 40%;
      display: inline-block;
      margin-bottom: 4rem;
      line-height: 2.3rem;
      letter-spacing: .045rem;
    }

    .ian-logo {
      width: 230px;
      height: 136px;
      max-width: 230px;
      margin: 4rem;
    }

  }
}

#clients {
  padding: 4rem;
  padding-bottom: 6rem;
  background-color: $light-grey;

  .fancy-lead {
    margin-bottom: 4rem;
  }

  h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}

$card-padding: 2rem;
$card-line-height: 1.75rem;

.business-card {
  position: relative;
  background-color: #fff;
  height: 21.5rem;
  width: 36rem;
  box-shadow: 0px 2px 4px #111;
  line-height: $card-line-height;

  a {
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }

  .name {
    color: $jensen-red;
    font-weight: 400;
    top: $card-padding * 2;
    left: $card-padding;
    font-size: 1.8rem;
  }

  .title {
    left: $card-padding;
    top: 0.5rem + ($card-padding * 2) + $card-line-height;
  }

  .contact {
    left: $card-padding;
    top: $card-padding * 6;
    text-align: left;

    .web {
      font-style: italic;
    }
  }

  .address {
    right: $card-padding;
    top: $card-padding * 6;
    text-align: left;
  }

  p, ul {
    position: absolute;
    line-height: $card-line-height;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.11rem;
    color: #2C2C2C;
  }

  ul, li {
    list-style: none;
    padding-left: 0rem;
  }
}

.footer {
  background-color: #363636;
  color: #fff;
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 0.11rem;
  min-height: 14rem;
  line-height: 14rem;
  padding-bottom: 4rem;

  -moz-box-shadow:    inset 1px 4px 9px -6px #000000;
  -webkit-box-shadow: inset 1px 4px 9px -6px #000000;
  box-shadow:         inset 1px 4px 9px -6px #000000;

  .column {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .card.right768 {
    display: block;
  }

  .card.right {
    display: none;
  }

  .video-card {
    .jensen-video {
      position: absolute;
      height: 100%;
    }
  }

  .business-card {
    width: 40rem;
    height: 21.5rem;
  }

  .footer {
    min-height: 26rem;
    line-height: 26rem;
    padding-bottom: 0rem;
  }

  nav {
    display: block;
  }

  #clients {
    h3 {
      margin-bottom: 4rem;
    }
  }

  #team {
    .card.alt {
      padding: 4rem;
      padding-top: 8rem;
    }
  }

  #branding {
    .card {
      height: 70rem;
    }

    .card.alt {
      padding-top: 30 rem;
      padding-bottom: 30  rem;
    }
  }

  #identity {
    .card {
      height: 36rem;
      float: normal;
    }

    .card.alt {
      float: normal;
    }
  }
}

@media only screen
and (min-width : 768px)
and (max-width : 855px) {
  #team {
    .card {
      height: 55rem;
    }

    .card.alt {
      padding-top: 8rem;
    }
  }
}

@media only screen
and (min-width : 855px)
and (max-width : 1145px) {
  .card.alt {
    height: 55.8rem;
  }
}

// iPhone 5
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation:portrait) {
  .business-card {
    margin-top: 7rem;
    margin-bottom: 20rem;
    margin-left: -1.5rem;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .card.alt {
    padding: 3rem;
  }
}

// iPhone 5
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation:landscape) {
  .business-card {
    // margin-top: 7rem;
    margin-bottom: 12rem;
    margin-left: -1.3rem;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
