$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$jensen-red: #D41F22;
$dark-grey: #292020;
$light-grey: #F5F5F6;

html, body {
  font-family: 'Raleway', sans-serif;
}

.alt {
  background-color: $light-grey;
  color: $dark-grey + 30;
  padding: 12rem;
  border: 1px solid #E0E0E0 + 20;
  font-size: 3.7rem;

  em {
    font-style: normal;
    font-weight: bold;
  }
}

.card {
  text-align: center;
  margin: 0px;

  .subtext {
    font-size: 1.5rem;
  }
}

// .book {
//   padding-top: 2rem;
// }
//
// .book-tall {
//   padding-top: 4rem;
// }

.video-frame {
  border: 5px solid #fff;
  box-shadow: 0px 0px 10px #ddd;
}

header {
  padding: 10rem;

  nav {
    margin-top: 2rem;
    text-align: right;

    ul {
      list-style: none;

      li {
        display: inline-block;
        margin-left: 2rem;
      }
    }
  }
}

#identity {
  .card {
    height: 36rem;
  }

  .card.lead {
    font-size: 2.5rem;
    font-weight: 500;

    em {
      background-color: $jensen-red;
      padding: 0.5rem;
      color: #fff;
      font-weight: 500;
    }
  }

  .identity-card {
    border: 1px solid $light-grey;
    padding: 3rem;
    text-align: center;
    height: 18rem;
    line-height: 11rem;

    img {
      opacity: 0.9;
      display: inline-block;
      vertical-align: middle;
    }

    img.shrink {
      width: 15rem;
    }

    img.lower-alpha {
      opacity: 0.7;
    }
  }
}

#branding {
  .head {
    background-color: $jensen-red;
    color: #fff;
    text-align: center;
    padding: 10rem;

    h2 {
      margin: 0rem;
    }
  }

  .card {
    padding: 4rem;
    height: 70rem;
  }

  .card.alt {
    padding-top: 26rem;
    padding-bottom: 26rem;
  }

  .more-info {
    padding: 4rem;
    border: 1px solid #E0E0E0 + 20;
    text-align: center;
  }
}
