$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$row-border-color: #A7A9AC;
$footer-color: #808285;

html, body {
  max-width: 100%;
  overflow-x: hidden;

  h2 {
    em {
      background-color: #D2232A;
      padding-left: 10px;
      padding-right: 20px;
    }
  }

  ol {
    list-style: none;
  }
}

.hero-text {
  text-transform: uppercase;
  text-align: left;
  margin-left: 50px;
  color: #444 !important;
}

.client-section {

  h3 {
    font-size: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
  }

  .client-head {
    font-size: 2rem !important;
    margin-bottom: 6rem;

    em
    {
      font-weight: bold;
    }
  }

  li {
    margin-bottom: 0.1rem;
    font-size: 1.5rem;
  }
}


.video-section
{
  margin-top: 50px;

  .branding-category h4 {
    display: inline-block;
  }
}

.logo-em {
  font-style: normal;
  font-weight: bold;
}

.featurette.alt {
  background-color: #444;
}

.print-category
{
  p, h4 {
    text-align: left;
  }

  h4 {
    font-size: 4rem;
  }

  p {
    width: 80%;
  }
}

.branding-category
{
  p, h4 {
    text-align: left;
  }

  h4 {
    font-size: 4rem;
    padding-top: 7rem;
  }

  p {
    width: 80%;
  }
}


.btn-outline
{
  border-color: #666;
  color: #666;
  background-color: transparent;

  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
  color: #535865;
  background-color: rgba(255, 252, 245, .34);
}

.headerscroll
{
  position: absolute;
  width: 95%;
  top: 0;
  bottom: 0;
  opacity: 0.3;
  background-image: url('../images/scroll_logos.png');
  background-repeat: repeat-x;
  overflow: hidden;

  -webkit-animation-name: animatedBackground;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 12000s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;

  animation-name: animatedBackground;
  animation-duration: 12000s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 2s;

  z-index: -1;
}

@-webkit-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: -1000000px 0; }
}

@keyframes animatedBackground {

	to { background-position: 100% 0; }
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  color: #808285;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  a {
    font-size: 1.6rem;
  }
}

/* Custom page footer */
.footer {
  color: #fff;
  background-color: #444;
  min-height: 0px;

  h4
  {
    font-size: 3rem;
  }
}

.half-rule
{
  width: 100px;
  margin: 40px auto;
}

.container-narrow > hr {
  margin: 30px 0;
}

.about-video-row
{
  margin-bottom: 40px;
}

.profile-row
{
  margin-bottom: 40px;

  .profile
  {
    text-align: center;

    img
    {
      display:inline-block;
    }
  }
}

/* Build from here down */

.header
{
  .logo {
    margin-bottom: 3rem;
  }

  ul {
    list-style: none;

    li {
      text-align: center;
      margin: 1rem;
    }
  }
}

.lead-section {
  color: #fff;
  background-color: #444;
  padding: 50px;
  text-align: left;

  h2
  {
    width: 100%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-size: 3rem;
    line-height: 4rem;
  }
}

.featurette {

  margin-bottom: 10rem;
  margin-top: 10rem;

  p {
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 16px;
    line-height: 2.8rem;
  }

  h4, p {
    text-align: center;
    width: 100%;
  }

  .sub-section {
    margin-bottom: 5rem;
  }
}

.logo-section
{
  .logo-column {
    text-align: center;

    .img-responsive {
      display: inline-block;
      margin-bottom: 3rem;
    }
  }
}

.video-frame {
  border: 5px solid #d8d6d4;
  margin-top: 4rem;
}

.print-section {
  margin-bottom: 0rem !important;
}

.jumbotron
{
  background-color: transparent;
  position: relative;
  min-height: 300px;

  h1
  {
    margin-left: 0rem;
    font-size: 7rem;
    margin-top: 100px;
  }
}

.footer
{
  padding: 4rem;
  margin-bottom: 0rem;

  #map-canvas {
    width: 100%;
    height: 30rem;
  }

  h4 {
    text-align: left;
  }

  ol {
    margin-bottom: 4rem;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  .jumbotron
  {
    min-height: 500px;
  }

  .lead-section {
    padding: 50px;
    text-align: left;
    h2 {
      width: 45%;
      margin: 0px;
      padding: 0px;
      font-size: 4rem;
      margin-left: 50px;
    }
  }

  .featurette {
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 600px;
    padding-left: 50px;
    padding-right: 50px;

    p {
      margin-top: 20px;
      font-size: 16px;
    }

    h2, p {
      text-align: center;
    }

    .sub-section {
      margin-bottom: 10rem;
    }
  }

  .video-frame {
      border: 5px solid #d8d6d4;
      margin-top: 0rem;
  }
}
